/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  font-size: 1.125;
  margin: 0 1em;
}

/* TOP HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
}

header img {
  margin: auto;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  text-transform: uppercase;
  z-index: 99;
  font-size: 0.94rem;
  letter-spacing: 1.2px;
  margin-bottom: 1em;
}
nav .navbar {
  height: 100%;
  max-width: 78rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 3.12rem;
}
.navbar .logo {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.navbar .logo img {
  width: 100px;
}
nav .navbar .nav-links {
  line-height: 6.375rem;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 0.875rem;
}
nav .navbar .links li a:hover {
  color: #ec1d26;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #1f4393;
}
.links li:hover .equipe-arrow,
.links li:hover .club-arrow,
.links li:hover .media-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 6.375rem;
  text-align: center;
  display: inline-block;
  color: #ec1d26;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 33px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
  z-index: 2;
  padding-bottom: 0.2em;
}
nav .navbar .links li:hover .equipe-sub-menu,
nav .navbar .links li:hover .club-sub-menu,
nav .navbar .links li:hover .media-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  margin-bottom: 0.5em;
}
.navbar .links li .sub-menu a {
  color: #1f4393;
  font-size: 0.938em;
  text-transform: none;
}
.navbar .links li .sub-menu a:hover {
  padding-left: 5px;
  border-left: 2px solid #1f4393;
  transition: all 0.1s ease;
}
.navbar .links li .sub-menu a {
  transition: all 0.5s ease;
}
/* SEARCH BAR */
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
  background: #fff;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #1f4393;
  line-height: 40px;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
}
.navbar .search-box .input-box {
  height: 60px;
  width: 18.75rem;
  background: #ec1d26;
  position: absolute;
  top: 80px;
  right: calc(100% - 40px);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.navbar.showInput .input-box {
  opacity: 1;
  pointer-events: all;
  top: 40px;
}
.navbar .search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 1.25rem;
  background: #ec1d26;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.navbar .search-box .input-box input {
  position: absolute;
  height: 35px;
  width: 17.5rem;
  z-index: 98;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  color: #1f4393;
}
.navbar .search-box .input-box input::placeholder {
  color: #1f4393;
}
/* search button */
.search-btn {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 999;
  width: 35px;
  height: 36px;
  border: none;
  outline: none;
  color: #fff;
  background: #1f4393;
  cursor: pointer;
  border-radius: 4px;
}
/* SLIDER */
.slider-contain {
  display: flex;
  justify-content: center;
}
.slider {
  position: relative;
  background: #fafafa;
  width: 70rem;
  min-height: 500px;
  margin: 1.25rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 8px 8px 16px 2px #b3b3b3;
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .slide.active {
  opacity: 1;
}
.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .slide .info {
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  bottom: 0;
  margin: 2rem 0 1.563rem 2rem;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 5px 25px rgb(1 1 1/ 5%);
}
.slider .slide .info h2 {
  font-size: 1.3em;
  font-weight: 800;
  text-align: left;
}
.slider .slide .info p {
  font-size: 0.8em;
  font-weight: 400;
  color: #fafafa;
}
.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider:hover .navigation {
  opacity: 1;
}
.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}
.prev-btn {
  color: #1f4393;
}
.next-btn {
  color: #ec1d26;
}
.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 1.25rem;
  height: 10px;
  transform: translateY(-10px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 /20%);
}
.navigation-visibility .slide-icon.active {
  background: #ec1d26;
}
/* titre */
.logo-h1 {
  width: 150px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ec1d26;
  letter-spacing: 1.2px;
  padding-bottom: 1.5em;
  text-decoration: underline #1f4393;
}
h2,
h3,
h4 {
  text-align: center;
  padding: 0.5em 0.5em 1em 0.5em;
  color: #1f4393;
  text-decoration: underline #ec1d26;
  letter-spacing: 1.2px;
}
h3{
  font-size: 1.2em;
}
p {
  text-align: justify;
}
/* border */
.border {
  border-top: 2px solid #1f4393;
  margin-top: 1em;
}
/* MAIN BODY */
.main-body {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.4fr 1fr 1fr;
  grid-template-columns: 75% 25%;
  gap: 0.5em;
  margin: 0 1em 0 1em;
  height: 100%;
}
.main-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.history {
  margin-top: 1em;
  padding: 2em 1em 0 1em;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  width: 100%;
  background-color: #fafafa;
  border-radius: 10px;
}

.article-1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 0 1em;
  width: 100%;
}

.article-2 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  background-color: #fafafa;
  border-radius: 10px;
  justify-content: center;
  padding: 0 1em;
  width: 100%;
}
.next-game {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  background-color: #fafafa;
  border-radius: 10px;
  width: 100%;
}

.result {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
  background-color: #fafafa;
  border-radius: 10px;
  width: 100%;
}

.article-contain img {
  border-radius: 10px;
  width: 60%;
}

/* BLOC PROCHAIN MATCH */
.nextgame-contain {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  margin: 1em;
  box-shadow: 0 5px 25px rgb(1 1 1/ 15%);
}

.nextgame-contain p {
  text-align: center;
  font-size: 0.9em;
  margin: 20px 0 20px 0;
}
.next-game .current-game img {
  width: 55px;
}
.current-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px 0 20px;
}
.guest,
.home {
  font-size: 0.7em;
}
.nextgame-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-button {
  background-color: #1f4393;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  min-width: fit-content;
}
.live-button a {
  color: #ec1d26;
  width: 30%;
}
.button-left {
  margin-right: 0.2em;
}
/* BLOC RESULTAT */
.result-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px 5px 10px 5px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  height: 50px;
  box-shadow: 0 5px 25px rgb(1 1 1/ 15%);
}
.result-left,
.result-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  width: 50%;
  gap: 2px;
}
.result-left {
  margin-right: 1em;
}

.result-contain img {
  height: 36px;
  width: 36px;
}

.score-box-left,
.score-box-right {
  color: #fff;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  font-size: 0.938em;
  text-align: center;
  line-height: 2em;
}
.score-box-left {
  background-color: rgba(26, 36, 52, 0.5);
}
.score-box-right {
  background-color: #1a2434;
}
.draw {
  background-color: rgba(26, 36, 52, 0.5);
}

/* NEWSLETTER */
.homepage-newsletter {
  background-color: #fafafa;
  border-radius: 10px;
  margin: 0.8em auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f4393;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  padding: 1em;
  box-shadow: 0 5px 25px rgb(1 1 1/ 20%);
}
#icon-newsletter {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}
#icon-newsletter span {
  padding: 0.5em;
}
.newsletter-contain li {
  padding-bottom: 0.5em;
  letter-spacing: 1.1px;
}
.newsletter-contain li i {
  color: #ec1d26;
  padding-right: 0.3em;
}
.newsletter-title {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 71px;
  min-width: 10rem;
}

.newsletter-contain {
  display: flex;
  justify-content: center;
  width: 40%;
  min-width: 10rem;
}
.fa.fa-envelope {
  color: #ec1d26;
  font-size: 2.5rem;
  padding-right: 0.2em;
}

/* FORM NEWSLETTER */
.newsletter-form {
  width: 40%;
  padding: 1em;
  min-width: 10rem;
}
.newsletter-form form {
  position: relative;
  width: 100%;
  height: 50px;
}
.newsletter-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #1f4393;
  border: solid 2px #ec1d26;
  outline: 0;
  border-radius: 4px;
  padding: 2em 1em 1em 1em;
  color: #1f4393;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1.1px;
  transition: background 0.35s ease-out;
}

.newsletter-form input:focus {
  background-color: #fff;
}
.newsletter-form input:focus + label {
  color: #ec1d26;
  transform: translateY(-10px) scale(0.8);
}
.newsletter-form input:focus + #button {
  background-color: #fff;
  color: #ec1d26;
}
.newsletter-form input:focus ~ #button {
  background-color: #fff;
  color: #ec1d26;
}
.newsletter-form label {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 2em;
  margin-top: -8px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1.1px;
  transform-origin: left center;
  transition: transform 0.25s ease-out, color 0.25s ease-out;
}

#button {
  position: absolute;
  color: #1f4393;
  font-weight: 600;
  right: 0;
  width: 100px;
  height: 100%;
  border: solid 2px #ec1d26;
  outline: none;
  border-radius: 0 4px 4px 0;
  background-color: #1f4393;
  font-size: 1em;
  cursor: pointer;
  border-left: none;
  font-family: "Orbitron", sans-serif;
  transition: background 0.6s ease-out;
}
.newsletter-form p {
  position: relative;
  top: -10px;
  left: 0;
  text-transform: uppercase;
  text-align: center;
}
/* FOOTER */

.container {
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 10px;
}
.grid-footer {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
  border-radius: 10px;
  margin: 1em 1em;
  background-color: #fff;
}
.logo-footer {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-logo {
  width: 60%;
}
.social-icon {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.social-container {
  padding: 1em;
}
.logo-contain {
  display: flex;
  align-items: center;
  font-size: 0.938em;
}

.facebook,
.twitter,
.instagram,
.youtube {
  font-size: 2rem;
  padding: 0 0.5em;
}
.supporter-footer {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.partenaire {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
}
.social-container ul li {
  padding: 0.5em 0 0.4em 1em;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
}
.info-footer {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 2;
  grid-column-end: 6;
}
.mention {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  font-size: 0.75em;
  border-top: solid 1.5px #1f4393;
  padding: 13px 15px 25px;
  color: #1f4393;
  letter-spacing: 1.2px;
}
.mention a {
  margin: auto 7px;
  text-decoration: none;
}
/* SOCIAL ICON */
.fa-square-facebook {
  color: #1f4393;
}

.fa-square-twitter {
  color: #ec1d26;
}
.fa-square-instagram {
  color: #1f4393;
}
.fa-square-youtube {
  color: #ec1d26;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1120px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .nav-links .links li {
    padding: 0 14px;
  }
}

/* RESOLUTION 1080px */

@media screen and (max-width: 1080px) {
  .live-button {
    font-size: 1em;
  }
  .homepage-newsletter {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) and (min-width: 980px) {
  .team-left,
  .team-right {
    display: none;
  }
}
/* RESOLUTION 980 */
@media screen and (max-width: 980px) {
  header {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  .slider-contain {
    margin-top: 100px;
  }
  .main-body {
    display: flex;
    flex-direction: column;
  }

  .grid-footer {
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .logo-footer {
    display: none;
  }
  .social-icon {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
  }
  .supporter-footer {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }
  .partenaire {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
  }
  .info-footer {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 2;
    grid-column-end: 5;
  }
  .mention {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 5;
  }
  .slider {
    width: 100%;
  }
  .slider .slide .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .score-box-left,
  .score-box-right {
    width: 55px;
  }
}
/* RESOLUTION 950 */
@media screen and (max-width: 950px) {
  nav .navbar .nav-links {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 18.75rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    padding: 20px;
    line-height: 40px;
    font-size: 0.875em;
    transition: all 0.5s ease;
    z-index: 100;
  }
  nav .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #bars,
  #sidebarLogo,
  #croix {
    display: block;
  }
  .nav-links .sidebar-logo .logo_name,
  .nav-links .sidebar-logo .fa-times {
    color: #1f4393;
    font-size: 1.125em;
  }

  .navbar .fa-bars {
    color: #1f4393;
    font-size: 1.563em;
  }
  nav .navbar .nav-links .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .nav-links .links li {
    display: block;
  }
  .navbar .nav-links .links .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    background: none;
  }

  .navbar .nav-links .links .sub-menu li {
    border-bottom: none;
  }
  nav .navbar .links li:hover .equipe-sub-menu,
  nav .navbar .links li:hover .club-sub-menu,
  nav .navbar .links li:hover .media-sub-menu {
    display: none;
  }
  nav .navbar .nav-links .links li .arrow {
    line-height: 40px;
  }
  .links li:hover .equipe-arrow,
  .links li:hover .club-arrow,
  .links li:hover .media-arrow {
    transform: rotate(0deg);
  }
  .navbar .nav-links.show1 .links .sub-menu.equipe-sub-menu {
    display: block;
  }
  .navbar .nav-links.show2 .links .sub-menu.club-sub-menu {
    display: block;
  }
  .navbar .nav-links.show3 .links .sub-menu.media-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links li .equipe-arrow,
  .navbar .nav-links.show2 .links li .club-arrow,
  .navbar .nav-links.show3 .links li .media-arrow {
    transform: rotate(180deg);
  }
}
.nav-links .sidebar-logo .logo_name,
.nav-links .sidebar-logo .fa-times,
.navbar .fa-bars {
  display: none;
}

/* RESOLUTION 850 */
@media screen and (max-width: 850px) {
  .grid-footer {
    grid-template-rows: 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr;
  }
  .social-icon {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
  }
  .supporter-footer {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }
  .partenaire {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }
  .info-footer {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }
  .mention {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;
  }
  .precedent,
  .suivant {
    display: none;
  }
  .homepage-newsletter {
    justify-content: space-around;
  }
  .newsletter-form {
    width: 60%;
  }
  .newsletter-contain {
    display: none;
  }
}
/* RESOLUTION 615px */
@media screen and (max-width: 615px) {
  .slider-contain {
    display: none;
  }
  .history {
    margin-top: 100px;
  }
}
/* RESOLUTION  580*/
@media screen and (max-width: 580px) {
  .grid-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .mention {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .newsletter-title {
    display: none;
  }
  .newsletter-form {
    width: 100%;
  }
  .slider .slide .info h2 {
    font-size: 1.2em;
    line-height: 40px;
  }
  .slider .slide .info p {
    font-size: 0.8em;
  }
  .mention {
    padding: 13px 0 25px 0;
  }
}
/* SMARTPHONE */
@media screen and (max-width: 510px) {
  .logo-footer {
    display: none;
  }
  .main-body {
    display: flex;
    flex-direction: column;
  }
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .team-left,
  .team-right {
    font-size: 0.6em;
  }
  .result-left {
    margin-right: 0.3em;
  }
}
@media screen and (max-width: 360px) {
  .mention {
    font-size: 0.563em;
  }
}
